body {
    background-color: #EBF5DF;

}

/* #parentDiv {
    border-color: black;
    border: solid;
} */
/* .block {
    background-color: antiquewhite;
    display: inline-block;
    margin: 10px;
    padding: 15px;
} */